html{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    padding: 0;
    margin: 0;
    border: 0;
}
/* Body */

body {
    background-image: url(C:/Users/leo_r/OneDrive/Escritorio/1/mochileando-dev-leonel/assets/Banner_login.png);
    background-repeat: no-repeat;
    background-position:right;
    background-size: cover;
}

.central {
    position: relative;
    right: 21%;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: auto;
    height: auto;
    margin: auto;
}

.login {
    width: 40%;
 
    margin: auto;
    text-align: center;
    background-color: #ffffff4b;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    box-sizing: border-box;
}

#logo {
    margin: auto;
    box-sizing: border-box;
}

h2 {
    font-family:"Courier New", Monospace;
    text-align: center;
    margin: auto;
}

.welcome {
    color: #222222;
    text-align: center;
    margin-bottom: 20px;
}

.cuadro {
    width: 100%;
    margin: auto;
}

.cuadro input[type="email"] {
    margin-bottom: 20px;
    border-bottom-right-radius: 1;
    border-bottom-left-radius: 1;
}

.cuadro input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 1;
    border-top-right-radius: 1;
}

.cuadro .form-control {
    margin: auto;
    box-sizing: border-box;
    height: auto;
    font-size: 16px;
}

input[type="email"],
input[type="password"] {
    width: 75%;
    padding: 15px;
    border: 1px solid #cccccc27;
    border-radius: 5px;
}

label {
    color: #222222;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

button[type="submit"] {
    text-align: center;
    font-size: 100%;
    display: block;
    margin: auto;
    width: 30%;
    padding: 20px;
    background-color: #1D4E89;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0069d9;
}

.pie-form {
    font-size: 100%;
    text-align: center;   
    padding: 10px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #222222;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #000000;
}
